<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="txt-class">
        <h2>
           <a [href]="lien"> Lorem ipsum dolor </a>
        </h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rem odit adipisci quasi. Reprehenderit inventore repellat non distinctio, accusantium voluptatem blanditiis repudiandae porro sit fuga tempora, necessitatibus eligendi nulla nam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rem odit adipisci quasi. Reprehenderit inventore repellat non distinctio, accusantium voluptatem blanditiis repudiandae porro sit fuga tempora, necessitatibus eligendi nulla nam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rem odit adipisci quasi. Reprehenderit inventore repellat non distinctio, accusantium voluptatem blanditiis repudiandae porro sit fuga tempora, necessitatibus eligendi nulla nam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rem odit adipisci quasi. Reprehenderit inventore repellat non distinctio, accusantium voluptatem blanditiis repudiandae porro sit fuga tempora, necessitatibus eligendi nulla nam.
    </div>
</body>
</html>

 